<div class="container">
    <h2>Celebrities</h2>
    {{#each celebrities}}
        <p>Name: {{name}}</p>
        <a href="/celebrities/{{_id}}">View {{name}}</a>
    {{/each}}
    <a href="/celebrities/create">Add celebrity</a>
    <a href="/">Home</a>
</div>